/* Add your custom styles here */
.custom-select {
    position: relative;
    width: 200px;
    margin: 20px;
}

#searchInput {
    width: 100%;
    padding: 10px;
}

.dropdown-options {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    border: 1px solid #ccc;
    border-top: none;
    display: none;
    max-height: 150px;
    overflow-y: auto;
}

.dropdown-options li {
    padding: 5px;
}

.dropdown-options li a {
    text-decoration: none;
    color: #333;
    display: block;
}

.dropdown-options li a:hover {
    background-color: #f0f0f0;
}


/*button*/

button {
  position: relative;
  background: #efe6e6;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  padding: 1rem 3rem;
  transition: 0.2s;
}

button:hover {
  letter-spacing: 0.2rem;
  padding: 1.1rem 3.1rem;
  background: var(--clr);
  color: var(--clr);
  /* box-shadow: 0 0 35px var(--clr); */
  animation: box 3s infinite;
}

button::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: #d1d2cc;
}

button span {
  position: relative;
  z-index: 1;
}
button i {
  position: absolute;
  inset: 0;
  display: block;
}

button i::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  left: 80%;
  top: -2px;
  border: 2px solid var(--clr);
  background: #d1d2cc;
  transition: 0.2s;
}

button:hover i::before {
  width: 15px;
  left: 20%;
  animation: move 3s infinite;
}

button i::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  left: 20%;
  bottom: -2px;
  border: 2px solid var(--clr);
  background: #d1d2cc;
  transition: 0.2s;
}

button:hover i::after {
  width: 15px;
  left: 80%;
  animation: move 3s infinite;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes box {
  0% {
    box-shadow: #d1d2cc;
  }
  50% {
    box-shadow: 0 0 25px var(--clr);
  }
  100% {
    box-shadow: #d1d2cc;
  }
}
/*input*/
[type="file"] {
  height: 0;
  overflow: hidden;
  width: 0;
}

[type="file"] + label {
  background: #d1d2cc;
  border: none;
  border-radius: 5px;
  color: #000000;
  cursor: pointer;
  display: inline-block;
	font-family: 'Rubik', sans-serif;
	font-size: inherit;
  font-weight: 500;
  margin-bottom: 1rem;
  outline: none;
  padding: 1rem 50px;
  position: relative;
  transition: all 0.3s;
  vertical-align: middle;
  
  &:hover {
    background-color: darken(#d1d2cc, 10%);
  }
    
  &.btn-2 {
    background-color: #d1d2cc;
    border-radius: 50px;
    overflow: hidden;
    
    &::before {
      color: #000000;
      content: "⬆";
      font-family: "Font Awesome 5 Pro";
      font-size: 100%;
      height: 100%;
      right: 130%;
      line-height: 3.3;
      position: absolute;
      top: 0px;
      transition: all 0.3s;
    }

    &:hover {
      background-color: darken(#d1d2cc, 30%);
      animation: movebox 3s infinite;
      &::before {
        right: 88%;
      }
    }
  }
}
@keyframes move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes movebox {
  0% {
    box-shadow: #b0b0ac;
    transform: translateX(0);
    transform: translateY(0);
  }
  50% {
    box-shadow: 0 0 25px #151313;
    transform: translateX(15px);
    transform: translateY(-15px);
  }
  100% {
    box-shadow: #b0b0ac;
    transform: translateX(0);
    transform: translateY(0);
  }
}